/* Reset default styles for all elements */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

/* Global Styles */
body {
    overflow-x: hidden; /* Prevent horizontal scrollbar */
}

/* Header Styles */
.header {
    padding-right: 15px;
    padding-left: 15px;
}

/* Hero Section Styles */
.hero {
    height: 80vh;
    overflow: hidden;
}

.hero img {
    max-width: 100%;
    height: auto; /* Responsive image */
}

/* Section Image Styles */
section img {
    max-width: 100%;
    height: auto;
}

/* Full Height Section Styles */
.section-full-height {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Section Padding Styles */
.section-padding {
    padding: 5rem 0;
}

/* Navbar Styles */
ul.navbar-nav {
    margin-left: auto;
}

.navbar-brand {
    margin-right: auto;
}
